body {
    font-family: 'Poppins', sans-serif;
}

.bg-primary {
    background: rgb(5, 155, 155) !important; 
}

.JMPButton {
    /* background-color: #f70;
    color: white;
    border: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 6px;
    */

    background: #f2f2f2;
    background: hsl(28, 100%, 90%);
    background: #f70;
   

    border: 1px solid #bbb;
    border: 1px solid hsla(28, 100%, 80%, 1);
    
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    
}

.JMPButtonText {
    border: none;
    background: none;
    color: #48484c;
    color: whitesmoke;

}

.JMPButton:hover {
    background-color: #fff;
    background-color: hsla(28, 100%, 80%, 1);
    background-color: rgb(255, 151, 60);

    transition: 0.1s ease-in-out;
}



#nav { 
    transition: all .2s ease-in-out; 
}

h1 {
    font-weight: 600 !important;
}

#FullSendLogo {
    margin-top: 14px;
    margin-bottom: 14px;
}

#ScrollAnchor {
    transition: all .1s ease-in-out; 
}
#ScrollAnchorArrow {
    margin-top: 0px;
    padding-top: 0px;
    transition: all .1s ease-in-out; 
}

#ScrollAnchorText {
    margin-bottom: 0px;
    padding-bottom: 0px;
    transition: all .1s ease-in-out; 
}
.SectionHeading {
    padding-top: 40px;
}

@media screen and (max-height: 400px) {
    #ScrollAnchor {
      display: none;
    }
}

.TextSubHeading {
    font-weight: 600 !important;
    margin-bottom: 0px !important; 
}

.SponsorSection {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Bold {
    font-weight: 600 !important;
}
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 400px;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('MobileBanner.jpg') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
}